# First print your name in the cell below then save this file. (or something nice about your instructor)

In [5]:
# In this cell print your name 
print("Zack is cool")

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [9]:

listing = pd.read_csv("data/listings.csv")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [21]:
# 1. How many listings are there with a price less than 100? 
listing = pd.read_csv("data/listings.csv")
Filter_String = listing.loc[listing['price'] < 100] # Loc allows us to select rows or columns
print(len(Filter_String)) # Printing the filtered String, which will give us the number of listings < 100

22778

In [37]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = listing.loc[listing['neighbourhood_group'] == "Brooklyn"]
print(len(df_bk))

18632

In [36]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

df_bk = listing.loc[(listing['neighbourhood_group'] == "Brooklyn") & (listing['price'] < 100)]
print(len(df_bk))

10473

In [44]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names

host_name_search = listing['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])
print(len(host_name_search))

46527

In [115]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
listing['adjusted_price'] = 0
listing.loc[listing['neighbourhood'] == "Williamsburg", 'adjusted_price'] += 100
print(listing[listing['neighbourhood'] == 'Williamsburg'])

             id                                               name    host_id  \
11         6848                   Only 2 stops to Manhattan studio      15991
15         7801                   Sweet and Spacious Brooklyn Loft      21207
35        14290                         * ORIGINAL BROOKLYN LOFT *      56104
38        14377                   Williamsburg 1 bedroom Apartment      56512
42        15385                              Very, very cozy place      60252
...         ...                                                ...        ...
46484  44746041      Modern, light-filled apartment in Wiliamsburg    3317380
46489  44749327  Luxury 3 bedroom apartment Williamsburg ROOF P...  334780877
46493  44753863            Bright, spacious East Williamsburg loft   38062951
46513  44800276        Williamsburg 1 Bedroom, Spacious and Classy  361034257
46517  44802032                  A very large room in Williamsburg  213793805

             host_name neighbourhood_group neighbourhood  latitude  longitude  \
11       Allen & Irina            Brooklyn  Williamsburg  40.70837  -73.95352
15               Chaya            Brooklyn  Williamsburg  40.71842  -73.95718
35               James            Brooklyn  Williamsburg  40.70420  -73.93560
38              Joanna            Brooklyn  Williamsburg  40.70881  -73.95930
42            Cristina            Brooklyn  Williamsburg  40.71185  -73.96204
...                ...                 ...           ...       ...        ...
46484            Marge            Brooklyn  Williamsburg  40.71372  -73.95407
46489    Pedro & Maria            Brooklyn  Williamsburg  40.70902  -73.95610
46493           Nathan            Brooklyn  Williamsburg  40.70372  -73.93492
46513  Angelo + Amirah            Brooklyn  Williamsburg  40.71283  -73.95400
46517             Omer            Brooklyn  Williamsburg  40.71970  -73.95632

             room_type  price  minimum_nights  number_of_reviews last_review  \
11     Entire home/apt    109               2                181  2020-03-16
15     Entire home/apt    299               3                  9  2011-12-28
35     Entire home/apt    131               3                 95  2020-05-28
38     Entire home/apt    175              10                113  2020-01-24
42        Private room     80               7                 49  2020-02-07
...                ...    ...             ...                ...         ...
46484  Entire home/apt    250               7                  0         NaN
46489  Entire home/apt    464               4                  0         NaN
46493  Entire home/apt    100               7                  0         NaN
46513  Entire home/apt    180               7                  0         NaN
46517     Private room     55              14                  0         NaN

       reviews_per_month  calculated_host_listings_count  availability_365  \
11                  1.32                               1                 0
15                  0.07                               1               337
35                  0.73                               1               164
38                  0.87                               1               165
42                  0.39                               1               229
...                  ...                             ...               ...
46484                NaN                               1               164
46489                NaN                               1               344
46493                NaN                               1               146
46513                NaN                               1               364
46517                NaN                               1                45

       adjusted_price
11                100
15                100
35                100
38                100
42                100
...               ...
46484             100
46489             100
46493             100
46513             100
46517             100

[3486 rows x 17 columns]

In [105]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
private_rooms = len(listing.loc[listing['room_type'] == 'Private room'])
total_rooms = len(listing)

percentage_private_rooms = (private_rooms / total_rooms) * 100

print(percentage_private_rooms)

45.444580566122895

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [60]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
GP = listing.groupby('neighbourhood_group').size()
print(GP)

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [64]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
GP = listing.groupby('neighbourhood_group').agg({'price': 'mean'})
print(GP)

                          price
neighbourhood_group
Bronx                 92.751479
Brooklyn             120.225258
Manhattan            191.880466
Queens                99.754965
Staten Island        110.947214

In [68]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
GP = listing.groupby('room_type').agg({'price' : 'mean'})
print(GP)

                      price
room_type
Entire home/apt  199.395950
Hotel room       275.015075
Private room      91.453084
Shared room       87.063830

In [77]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

GP = listing.groupby('neighbourhood_group').agg({'price': ['min', 'max']})
print(GP)

                    price
                      min    max
neighbourhood_group
Bronx                  16   1404
Brooklyn                0  10000
Manhattan               0  10000
Queens                  0  10000
Staten Island          19   1200

In [79]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
GP = listing.groupby('room_type').agg({'price': ['min', 'max']})
print(GP)

                price
                  min    max
room_type
Entire home/apt     0  10000
Hotel room          0   2211
Private room       10  10000
Shared room        10  10000

In [83]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
GP = listing.groupby('neighbourhood_group').agg({'price':['min', 'max','mean','median','std']})
print(GP)

                    price
                      min    max        mean median         std
neighbourhood_group
Bronx                  16   1404   92.751479     69   95.787081
Brooklyn                0  10000  120.225258     90  180.136376
Manhattan               0  10000  191.880466    129  428.682578
Queens                  0  10000   99.754965     70  207.648739
Staten Island          19   1200  110.947214     79  122.676152

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [112]:
import pandas as pd


prices = pd.read_csv('data/prices.csv', usecols=['neighbourhood_group', 'price'])
n_listings = pd.read_csv('data/n_listings.csv')

# Join the two DataFrames
joined = prices.merge(n_listings, on='neighbourhood_group', how='outer')

# Save the joined DataFrame as a CSV file
joined.to_csv('joined.csv', index=False)

ValueError: Usecols do not match columns, columns expected but not found: ['price']

In [18]:
# 2. Do join that keeps all the records for each table.

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.